<div class="container">
    Developed By <em> Hossam Youssef </em>, Contact me! <a href="http://www.hossamyoussef.com" target="new"> Website </a>  -<a href="http://de.linkedin.com/in/hossamyoussef2009" target="new"> Linked-in Profile </a>
</div>
