<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <p>
            <strong>Dear Sir/Madam,</strong>
            Your job post submission <strong>{{ title }}</strong> has been created, it is in moderation !<br/>                        
        </p>
        
        <hr/>
        <p>           
           This is an automatic message generated from Job-Board system, Please do not reply!
        </p>
    </body>
</html>